.quizForm {
   // background-color: $purple;

    h1, h2 {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .quizForm-section {
        justify-content: flex-start;
    }

    .que-form-container {
        text-align: center;
    }

    .quiz-form-wrapper {
        max-width: 400px;
        margin: 0 auto;
        text-align: left;

        .formGroup {
            margin-bottom: 0.75rem;

            label {
                display: block;
                margin-bottom: 5px;
                color: $white;
                margin-top: 20px;
                @include respond-to("tablet") {
                    font-size: 1.5rem
                }
            }

            input[type="text"],
            input[type="email"] {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                background: transparent;
                border: 2px solid $yellow;
                border-radius: 5px;
                color: $yellow;
            }
        }

        .validation-error {
            color: red;
            margin-top: 5px;
        }
    }
    .keepUpToDate{
        margin: 15px 0;
        font-size: 1rem;
    }

    iframe {
        margin: 30px 0 0 0;
    }

    .btn.primary {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.checkboxes {
    margin-bottom: 20px;

    .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        input {
            margin-right: 10px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 3px solid $yellow;
            width: 20px;
            height: 20px;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            border-radius: 3px;
            &:checked {
                background-color: $yellow;
            }
        }

        label {
            cursor: pointer;
                font-size: 0.75rem !important;
                font-family: "canada-type-gibson";
                margin-top: 5px !important;

        }
    }
}