.resultMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;

    h1 {
        font-size: 2.8rem;
        margin: 0 auto;
        margin-top: 200px;
        text-shadow: none;
        max-width: 100%;
        padding: 0 15px;
        @include respond-to("tablet") {
            font-size: 4.6vw;
            margin-top: 130px;
        }
    }

    .slide_3, .slide_4, .slide_5, .slide_6, .slide_7, .slide_8 {
        h1 {
            margin-top: 200px;
            @include respond-to("tablet") {
                margin-top: 130px;
            }
        }

        .imgWrapper {
            position: absolute;
            bottom: 0px;
            transform: translate(-50%, -50%);
            left: 50%;
            @include respond-to("tablet") {
                position: relative;
                transform: none;
                left: 0;
            }
        }
    }

    .slide_1, .slide_2 {
        .imgWrapper {
            position: absolute;
            bottom: 0px;
            transform: translate(-50%, -50%);
            left: 50%;
            @include respond-to("tablet") {
                position: relative;
                transform: none;
                left: 0;
            }
        }
    }
    .slide_9 {

       .cadburyCreamLogoImage {
        margin-top: 145px;
        width: 125px;
       }

        h1 {
            margin-top: 50px
        }
    }
    .slide_10 {
        h1 {
            margin-top: 0
        }
    }

    .resultSection {
        background-color: $purple;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        text-align: center;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;

        // @include respond-to("tablet") {
        // }

        .resultSlideInner {
            display: block;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            height: 100vh;
            background-size: 180% 150%;
            background-position: center 20%;
            @include respond-to("tablet") {
                background-size: 100% 100%;
                background-position: center center;
                display: flex;
         justify-content: space-between;
            align-items: center;
            flex-direction: column;
            }
        }

        .resultSlideContent {
            margin-top: 0px;
            max-width: 1140px;
        }

        .imgWrapper {
            margin-bottom: 1rem;
        }

        .slideImage {
            width: 90%;
            margin-top: 20px;

            @include respond-to("mobile") {
                width: 360px;
            }

            @include respond-to("tablet") {
                width: 615px;
                margin-top: 50px;
            }
        }
    }

    .cadburyCreamLogoImage {
        margin-bottom: 30px
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: auto;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    img {
        max-width: 100%;
    }
}

.swiper-pagination-custom {
    position: absolute;
    top: 10px !important;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    bottom: unset !important;
    align-items: center;
    margin-top: 45px;
}

.swiper-pagination-bullet {
    // background: $yellow;
    opacity: 1;
    width: 13px;
    height: 13px
}

.swiper-pagination-bullet-active {
    background-color: unset;
    // background-image: url('../images/JourneyTracker.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 37px;
}